{% load bootstrap %}
<div class="control-group{% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}">
    {% if field|is_checkbox %}
        <div class="controls">
            <label class="checkbox">
                {{ field }} <span>{{ field.label }}</span>
            </label>

            {% for error in field.errors %}
                <span class="help-inline">{{ error }}</span>
            {% endfor %}

            {% if field.help_text %}
                <p class="help-block">
                    {{ field.help_text|safe }}
                </p>
            {% endif %}
        </div>
    {% else %}
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>

        <div class="controls">
            {{ field }}

            {% for error in field.errors %}
                <span class="help-inline">{{ error }}</span>
            {% endfor %}

            {% if field.help_text %}
                <p class="help-block">
                    {{ field.help_text|safe }}
                </p>
            {% endif %}

        </div>
    {% endif %}
</div>
