<div id="div_{{ label_id }}" class="{% if bf_raw.field.required %} required{% endif %}{% if errors %} error{% endif %}">
    <div class="">
        <label class="checkbox f12" for="{{ label_id }}">{{ bf }} {{ label }}</label>
        {% if errors %}
            <span class="help-inline">{{ errors }}</span>
        {% endif %}
        {% if help_text %}
            <p class="help-block">{{ help_text }}</p>
        {% endif %}
    </div>
</div>
