<div id="div_{{ label_id }}" class="control-group{% if bf_raw.field.required %} required{% endif %}{% if errors %} error{% endif %}">
    <label class="control-label" for="{{ label_id }}">{{ label }}</label>
    <div class="controls">
        <div class="input-prepend">{{ bf }}</div>
        {% if errors %}
            <span class="help-inline">{{ errors }}</span>
        {% endif %}
        {% if help_text %}
            <p class="help-block">{{ help_text }}</p>
        {% endif %}
    </div>
</div>
