{% load static from staticfiles %}
<div id="div_{{ label_id }}" data-name="{{ bf_raw.name }}" class="control-group js-uploadfile {% if bf_raw.field.required %} required{% endif %}{% if errors %} error{% endif %}">
    <label class="control-label" for="{{ label_id }}">{{ label }}</label>
    <div class="controls">
        <div class="input-append" id="browse__{{ bf_raw.name }}">{{ bf }}<button type="button" class="btn">Обзор</button></div>
        {% if errors %}
            <span class="help-inline">{{ errors }}</span>
        {% endif %}
        {% if help_text %}
            <p class="help-block">{{ help_text }}</p>
        {% endif %}
        {% if not field.upload_url %}
            <span class="help-inline alert alert-error">Укажите для поля upload_url</span>
        {% endif %}
    </div>
</div>
<script>
    $(function (){
        var $e = $('#div_'+'{{ label_id }}');
        "use strict";
        var imageuploader = new plupload.Uploader({
            runtimes:'html5,flash'
            , browse_button:'browse__{{ bf_raw.name }}'
            , container:$e.attr('id')
            , max_file_size:'{{ field.max_file_size|default:"50kb" }}'
            , url: '{{ field.upload_url }}'
            , unique_names : true
            , flash_swf_url:'{% static 'js/plupload/plupload.flash.swf' %}'
            , filters : [
                {title : "Изображения", extensions : "{{ field.file_extensions|default:'jpg,jpeg,gif,png' }}"}
            ]
            , multi_selection:false
        });
        imageuploader.bind('QueueChanged', function(up){
            $e.trigger('QueueChanged');
            imageuploader.start();
        })
        imageuploader.bind('Error', function(up, er){
            $e.trigger('fileError', [er])
        })
        imageuploader.bind('FileUploaded', function(up, file, response){
            var json = $.parseJSON(response['response']);
            if (!json.errors || json.errors.length == 0) {
                $e.find('#{{ bf_raw.auto_id }}_0').val(json['pk']);
                $e.find('#{{ bf_raw.auto_id }}_1').val(json['url']);
                $e.find('#{{ bf_raw.auto_id }}_2').val(json['file']);
            }
            $e.trigger('fileUploaded', [json]);
        })
        imageuploader.init();
    });
</script>
