<div id="div_{{ label_id }}" class="control-group{% if bf_raw.field.required %} required{% endif %}{% if errors %} error{% endif %}">
    <label class="control-label" for="{{ label_id }}">{{ label }}</label>
    <div class="controls">
        <div class="input-append">
            {{ bf }}
        </div>
        {% if errors %}
            <span class="help-inline">{{ errors }}</span>
        {% endif %}
        {% if help_text %}
            <p class="help-block">{{ help_text }}</p>
        {% endif %}
    </div>
</div>
<script>
    (function($root){
        $root.find('.date').each(function(){
            var $this = $(this);
            if (!$this.data('date')) {
                var i = $this.find('input'), new_date;
                if (i.val()) {
                    new_date = i.val();
                } else {
                    var d = new Date();
                    new_date = [d.getDate(), d.getMonth()+1, d.getFullYear()].join('.');
                }
                $this.data('date', new_date);
            }
            $this.datepicker({
                format:'dd.mm.yyyy',
                weekStart:1
            }).on('changeDate', function(ev){
                if (ev.viewMode == "days") $this.datepicker('hide');
            });
            $this.find('input').on('click', function(){
                $this.datepicker('show');
            })
        })
    })($('#div_'+'{{ label_id }}'))
</script>
